<div class="space-background mat-typography" id="page-not-found">
    <div class="stars"></div>
    <div class="twinkling"></div>
    <div class="content">
    <h1 [@float]="'in'">404</h1>
    <h4 [@float]="'in'">Oops! Looks like this page got lost in space.</h4>
    <div class="astronaut" [@float]="'in'">
        <div class="astronaut-helmet"></div>
        <div class="astronaut-body"></div>
        <div class="astronaut-pack"></div>
    </div>
    <button mat-raised-button id="sign-up-button" class="home-button" (click)="goHome()">Return to earth</button>
    </div>
</div>