<section id="distributed-ai-banner">
    <div class="distributed-ai-banner-overlay container">
        <div class="row">
            <div class="col-6 col-md-12 col-sm-12">
                <h5 class="distributed-ai-banner-title">Distributed AI Processing Architecture</h5>
                <span class="distributed-ai-banner-content">
                At large scale, security systems must handle massive data streams—millions of logs per minute, terabytes of telemetry each day, and hundreds of thousands of connected devices. 
                Relying on a single centralized AI layer quickly becomes a performance bottleneck.<br /><br />
                Jarvis addresses this challenge with distributed AI processing nodes deployed across the environment.
                This decentralized approach ensures faster decision-making, reduced latency, and scalable intelligence that grows seamlessly with your infrastructure—keeping detection and response continuous, even under extreme load.

                </span>
            </div>
            <div class="col-6 col-md-12 col-sm-12 distributed-ai-banner-image-container">
                <img class="distributed-ai-banner-image" 
                    src="images/banners/distributed-ai-sketch.png" 
                    alt="data analytics" />
            </div>
        </div>
    </div>
</section>