<section id="hero-component">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-12">
                <div class="hero-image-group" [@fadeIn]>
                    <img class="hero-image hero-image-cloud" src="images/banners/hero-image-cloud.svg" alt="Cloud" />
                    <img class="hero-image hero-image-devops" src="images/banners/hero-image-devops.svg" alt="Devops" />
                    <img class="hero-image hero-image-backend" src="images/banners/hero-image-backend.svg" alt="Backend" />
                    <img class="hero-image hero-image-frontend" src="images/banners/hero-image-frontend.svg" alt="Frontend" />
                </div>
            </div>
            <div class="col-6 col-sm-12 hero-text-group-wrapper">
                <div class="hero-text-group" [@fadeInEnterFromRight]>
                    <h5 class="hero-title">Pick your stack</h5>
                    <h6 class="hero-tagline">Crafting seamless, scalable web applications - whether it's backend, frontend, or cloud, I bring expert full-stack development in .NET, Django, NodeJS, Angular, and more to life.</h6>
                </div>
            </div>
        </div>
        
    </div>
</section>
