<div id="home-component">
    <app-notification-banner class="notification-banner"></app-notification-banner>
    <app-jarvis-ai-intro></app-jarvis-ai-intro>
    <app-data-analytics></app-data-analytics>
    <app-distributed-ai></app-distributed-ai>
    <app-rag-architecture></app-rag-architecture>
    <app-intrusion-prevention></app-intrusion-prevention>
    <app-target-platform></app-target-platform>
    <app-privacy-by-design></app-privacy-by-design>
    <app-kernel-level-security></app-kernel-level-security>
    <!-- <section class="related-posts-section">
        <app-related-posts class="container" title="Explore my latest ideas"></app-related-posts>
    </section>
    <app-github-issue-metrics></app-github-issue-metrics> -->
    <!-- <app-hero></app-hero> -->
    <!-- <app-familiar-technologies></app-familiar-technologies> -->
    <!-- <app-home-banners></app-home-banners>     -->
</div>