<section id="open-source-banner">
    <img class="open-source-banner-image" 
        src="images/banners/open source system empty.jpg" 
        alt="open source technology" />

    <div class="open-source-banner-overlay" [@fadeInEnterFromLeft]>
        <h5 class="open-source-banner-title">An open source system</h5>
        <h6 class="open-source-banner-content">
        This is more than just a <b>portfolio</b> - it's an <b>open-source microservices system</b>. From functions to the automated deployment pipelines, the entire codebase is available for you to explore and download!
        </h6>
        <div class="open-source-banner-button-group">
            <button mat-raised-button class="open-source-banner-button" (click)="viewPage(infraUrl)">
                <span>View on GitHub</span>
            </button>
            <!--<button mat-stroked-button class="open-source-banner-button">
                <mat-icon>arrow_forward</mat-icon>
                <span>Visit Documentation</span>
            </button>-->
        </div>
    </div>
</section>