<section class="mat-typography" id="intro-banner">
    <div class="intro-nav">
        <h2 class="intro-title">Portfolio | Zohair Mehtab</h2>
        <app-social-links></app-social-links>
        @if(doesSessionExist || currentlyDisplayedContents / totalContents > 0.5) {
            <button mat-flat-button class="skip-button" (click)="hide()">Skip</button>
        }
    </div>
    <div class="intro-banner-content">
        <div class="intro-header">
            <h4 class="banner-content-text" #bannerTitle></h4><h4 class="banner-content-text cursor" [ngClass]="typingInHeader ? 'show': ''">_</h4>
            
        </div>
        <div class="intro-content">
            <h6 class="banner-content-text" #bannerContent></h6><h6 class="banner-content-text cursor" [ngClass]="!typingInHeader ? 'show': ''">_</h6>
        </div>
    </div>
    <div class="loading-message">
        <h4>Processing components...</h4>
    </div>
    <div class="loader">
        <div class="progress" [style.width]="currentLoadingComplete"></div>
        <span class="progress-text">{{currentLoadingComplete}} complete</span>
    </div>
</section>