@import 'theme';
@import 'animation';
#credits-section {

    min-height: 600px;
    position: relative;
    .credits-workspace {
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 0;
    }

    .credit-group {
        display: none;
        overflow-y: hidden;
        position: relative;
        min-height: 560px;
        width: 100%;

        &.show {
            display: block;
        }
    }

    .credit-group-title, .prefix-note, .credit-title, .credit-subtitle, .credit-link, .credit-suffix {
        display: block;
        max-width: 90%;
        margin: 0 auto 20px auto;
        line-height: 1;
    }

    .scrolling {
        
        .credit, .credit-group-title {
            margin-bottom: 40px;
        }
    }
}