<section id="data-ingestion-banner">
    <img class="data-ingestion-banner-image" 
        src="images/banners/ingestion pipeline.png" 
        alt="open source technology" />

    <div class="data-ingestion-banner-overlay" [@fadeInEnterFromLeft]>
        <h5 class="data-ingestion-banner-title">Seamless Data Ingestion at Scale</h5>
        <h6 class="data-ingestion-banner-content">
        Effortlessly collect <b>logs and metrics</b> from all your connected devices through a robust, distributed ingestion pipeline.<br /><br />
        Designed for scalability, the system ensures reliable data flow even under high-volume conditions. Whether you're managing a handful of devices or thousands, ingestion remains smooth and uninterrupted.
        </h6>
    </div>
</section>