@use '@angular/material' as mat;
@use '../../../styles/theme/theme' as theme;
@use '../../../styles/theme/breakpoint' as breakpoint;
@use '../../../styles/theme/constants' as constants;

#navigation-header {
    // Read the 50 hue from the primary color palette.
    background-color: mat.get-theme-color(theme.$theme, 'primary');
    color: mat.get-theme-color(theme.$theme, 'on-primary');

    .navigation-toggle-button{
        background-color: transparent;
        box-shadow: none;
        border: none;
        color: mat.get-theme-color(theme.$theme, 'on-primary');
    }

    .navigation-title a {
        color: mat.get-theme-color(theme.$theme, 'on-primary');
    }

    .navigation-link {
        background-color: transparent;
        color: mat.get-theme-color(theme.$theme, 'on-primary');
    }

    #sign-up-button, #slide-out-button {
        color: mat.get-theme-color(theme.$theme, 'on-secondary');
    }

    @include breakpoint.mobile {
        .navigation-body {
            background-color: mat.get-theme-color(theme.$theme, 'primary');
        }

        .navigation-item {
            border-top: 1px solid mat.get-theme-color(theme.$theme, 'neutral', 60);
        }

        .navigation-title.desktop {
            font-size: map-get($map: constants.$font-sizes-rem, $key: md);
        }
    }
  }