@use '../../../styles/theme/breakpoint' as breakpoint;
@use '../../../styles/theme/constants' as constants;

@import 'theme';


$expandedPaddingValue: map-get(constants.$padding, lg);
$contractedPaddingValue: map-get(constants.$padding, md);

@keyframes contractNavMenu {
    to {
        padding-top: $contractedPaddingValue;
        padding-bottom: $contractedPaddingValue;
    }
}

@-webkit-keyframes contractNavMenu {
    to {
        padding-top: $contractedPaddingValue;
        padding-bottom: $contractedPaddingValue;
    }
}

@keyframes slideInMenu {
    from {
        transform: translateX(-300%);
    }
    to {
        transform: translateX(0);

    }
}

@-webkit-keyframes slideInMenu {
    from {
        transform: translateX(-300%);
    }
    to {
        transform: translateX(0);

    }
}

@keyframes slideOutMenu {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-300%);
    }
}

@-webkit-keyframes slideOutMenu {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-300%);
    }
}


#navigation-header {
    height: auto;
    position: fixed;
    left: 0;
    top: 0;

    &.sticky {
        .container {
            $paddingValue: $expandedPaddingValue;
            animation: contractNavMenu 100ms linear;
            -webkit-animation: contractNavMenu 100ms linear;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
        }
    }
    .navigation-toggle-button {
      display: none;
      margin-right: map-get(constants.$margin, sm);
    }

    .navigation-title {
        line-height: 2;
        cursor: pointer;

        &.mobile {
            display: none;
            max-width: 100%;
            text-align:  center;
        }

        a {
            text-decoration: none;
        }
    }

    .navigation-body {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
    }

    .navigation-menu {
        display: flex;
        list-style: none;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        flex-grow: 1;
        padding: 0 0 0 map-get(constants.$padding, md);
    }

    .navigation-item {
        margin-right: map-get(constants.$margin, sm);
    }

    .navigation-link {
        text-decoration: none;
        background-color: transparent;
        box-shadow: none;
        border: none;
        font-size: map-get($map: constants.$font-sizes-rem, $key: md);
        cursor: pointer;
    }

    #sign-in-button {
        margin-right: map-get(constants.$margin, sm);
    }

    @include breakpoint.mobile {
        .navigation-toggle-button {
            display: block;
        }

        .navigation-title {
            &.mobile {
                display: block;
            }
        }

        .navigation-item {
            padding: 10px 10px;
            width: 100%;
            text-align: center;
        }

        .navigation-body {
            display: flex;
            flex-direction: column;
            padding: map-get(constants.$padding, lg) 0 50px 0; // 50px to account for the mobile's default footer nav
            width: 100%;
            position: fixed;
            left: 0;
            top: 0;
            height: 100vh;
            transform: translateX(-300%);

            .navigation-menu {
                flex-direction: column;
                padding-left: 0;
                margin-bottom: map-get($map: constants.$margin, $key: md);
            }

            .menu-button {
                margin-right: 0;
                margin-bottom: map-get($map: constants.$margin, $key: md);
            }

            &.hidden {
                display: none;
            }
            &.show {
                animation: slideInMenu 300ms linear forwards;
            }

            &.hide {
                animation: slideOutMenu 300ms linear forwards;
            }
        }
    }
}

#navigation-header-placeholder {
    height: 104px;
    display: block;
    width: 100%;
}