<mat-toolbar id="navigation-header" [ngClass]="hasScrolled ? 'sticky' : ''">
  <div class="container">
    <div class="row">
        <button mat-icon-button class="navigation-toggle-button" aria-label="Navbar toggle button" (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>
        <h2 class="navigation-title"><a href="/">Portfolio | Zohair Mehtab</a></h2>
        <section class="navigation-body hidden" #slidingMenu>
            <h3 class="navigation-title mobile"><a href="/">Portfolio | Zohair Mehtab</a></h3>
            <ul class="navigation-menu">
                @for(item of menuItems; track item.id) {
                    <li class="navigation-item">
                        <button class="navigation-link" (click)="goToPage(item.name, item.id)">{{item.name}}</button>
                    </li>
                }
                <li class="navigation-item">
                    <a class="navigation-link" href="{{creditsRoute}}">Credits</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>-->
            </ul>
            <button mat-raised-button id="sign-in-button" class="menu-button authentication-button">Sign In</button>
            <button mat-stroked-button id="sign-up-button" class="menu-button authentication-button">Sign Up</button>
            <button mat-flat-button id="slide-out-button" class="menu-button navigation-toggle-button navigation-button close-button" (click)="toggleMenu()">Go Back</button>
        </section>
    </div>
  </div>
</mat-toolbar>


<div id="navigation-header-placeholder"></div>

