<mat-toolbar id="navigation-header" [ngClass]="hasScrolled ? 'sticky' : ''">
  <div class="container">
    <div class="row">
        <button mat-icon-button class="navigation-toggle-button" aria-label="Navbar toggle button" (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>
        <h2 class="navigation-title">Portfolio | Zohair Mehtab</h2>
        <section class="navigation-body" [ngClass]="showMenu ? 'show': ''">
            <ul class="navigation-menu">
                <li class="navigation-item">
                    <a class="navigation-link" href="#">Home</a>
                </li>
                @for(item of menuItems; track item.id) {
                    <li class="navigaion-item">
                        <button class="navigation-link" (click)="goToPage(item.name, item.id)">{{item.name}}</button>
                    </li>
                }
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>-->
            </ul>
            <button mat-raised-button id="sign-in-button" class="authentication-button">Sign In</button>
            <button mat-stroked-button id="sign-up-button" class="authentication-button">Sign Up</button>
        </section>
    </div>
  </div>
</mat-toolbar>

<div id="navigation-header-placeholder"></div>

