// _carousel-theme.scss

@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  #hero-component {
    // Read the 50 hue from the primary color palette.
    // background-color: mat.get-theme-color($theme, 'primary', 40);
    background-image: url('/images/banners/cloud.PNG');

    .hero-tagline {
        color: mat.get-theme-color($theme, 'neutral', 10);
    }

    .hero-title {
        color: mat.get-theme-color($theme, 'primary', 10);
        font-weight: bold;
    }
  }
}

@mixin theme($theme) {
    @if mat.theme-has($theme, color) {
        @include color($theme);
    }
}