// _carousel-theme.scss

@use 'sass:map';
@use '@angular/material' as mat;
@use '../typography' as typography;

@mixin color($theme) {
  #intro-banner {
    background-color: mat.get-theme-color($theme, primary, 10);
    color: mat.get-theme-color($theme, primary, 90);
    font-family: typography.$heading-font;

    .loader {
      background-color: mat.get-theme-color($theme, primary, 90);

      .progress {
        background-color: mat.get-theme-color($theme, primary, 70);
      }

      .progress-text {
        color: mat.get-theme-color($theme, primary, 30);
      }
    }
  }
}

@mixin theme($theme) {
    @if mat.theme-has($theme, color) {
        @include color($theme);
    }
}