// _carousel-theme.scss

@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    #page-not-found {
        .space-background {
            background: #000;
        }
    
        .stars {
            background: #000 url('/images/banners/stars.png') repeat top center;
            z-index: 0;
        }
        .twinkling {
            background: transparent url('/images/banners/twinkling.png') repeat top center;
        }
        .content {
            color: mat.get-theme-color($theme, 'primary', 100);
        }
        .astronaut-helmet, .astronaut-pack {
            background-color: mat.get-theme-color($theme, 'primary', 90);
        }
        .astronaut-body {
            background-color: mat.get-theme-color($theme, 'primary', 100);
        }
    }
}

@mixin theme($theme) {
    @if mat.theme-has($theme, color) {
        @include color($theme);
    }
}