@use '../../../styles/theme/breakpoint' as breakpoint;
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


#wordpress-banner {
    width: 100%;
    min-height: 700px;
    position: relative;

    .camera-coordinates {
        color: #000; // not theme specific
        position: absolute; 
        top: 0; 
        right: 0; 
        font-weight: bold; 
        padding: 5px 5px; 
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }

        input {
            width: 100%;
        }
    }

    .banner-text-section {
        position: absolute;
        left: 42%;
        top: 250px;
        opacity: 0;
        animation: fadeOut 100ms linear;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        .heading-text {
            text-shadow: #3f1f12 5px 5px 14px; // not theme specific
            color: #3f1f12; // not theme specific
            font-weight: bold;
            margin-bottom: 15px;
            
        }

        .sub-heading-text {
            text-shadow: #000 5px 5px 14px; // not theme specific
            color: #000; // not theme specific
            font-weight: bold;
            padding-left: 10px;
        }

        &.show {
            animation: fadeIn 1s linear;
            opacity: 1;
        }
        
    }

    @include breakpoint.mobile {
        width: 100%;

        .banner-text-section {
            left: 0;
            top: 10%;
            width: 100%;
            text-align: center;
        }
    }


}