<div class="post-card" [attr.card-type]="postCardType">
    <div class="row">
        <div [ngClass]="postCardType == 'list' ? 'col-3' : 'col-12'" class="col-md-12 post-featured-image-section">
            <img [src]="!!post.featuredImage ? post.featuredImage: featuredImagePlaceholder" class="post-featured-image" alt="featured image">
        </div>
        <div [ngClass]="postCardType == 'list' ? 'col-9' : 'col-12'" class="col-md-12 post-content-section" [@fadeInEnterFromRight]>
            <h6 class="post-list-item-title" (click)="goToPost(post.id, post.title.rendered)">{{post.title.rendered}}</h6>
            @if(post.excerpt) {
                <div class="post-list-item-description" [innerHTML]="post.excerpt.rendered">
                </div>
            }
            <div class="post-list-item-footer">
                <img class="post-author-image" [src]="post.authorInfo ? getAuthorImage(post.authorInfo) : authorImagePlaceholder" alt="{{post.title.rendered}}">
                <small class="post-author-info">
                    Published by&nbsp;
                    <strong>
                    @if(post.authorInfo) {
                        {{post.authorInfo.name}}
                    }
                    @else {
                        Anonymous
                    }
                    </strong>
                    @if(post.date_gmt && post.date_gmt.length > 0) {
                        &nbsp;{{getPublishedDate()}}
                    }
                </small>
                @if(post.tags && post.tags.length > 0) {
                    <ul class="post-tags">
                        @for(tag of post.tags; track tags) {
                            @if(tags[tag]) {
                                <li class="post-tag">{{tags[tag].name}}</li>
                            }
                        }
                    </ul>
                }
            </div>
        </div>        
    </div>
</div>