<section id="jarvis-ai-intro-banner">
    <img class="jarvis-ai-intro-banner-image" 
        src="images/banners/ingestion pipeline.png" 
        alt="open source technology" />

    <div class="jarvis-ai-intro-banner-overlay" [@fadeInEnterFromLeft]>
        <h5 class="jarvis-ai-intro-banner-title">Jarvis AI Intelligence Platform</h5>
        <h6 class="jarvis-ai-intro-banner-content">
        Jarvis AI Intelligence Platform is an <b>AI-Driven Observability, Security, and Autonomous Operations</b> system with 
        advanced Artificial Intelligence capabilities that provides <b>centralized monitoring</b>, <b>diagnostics</b>, <b>operational intelligence</b>, 
        and <b>automated device management</b> through a scalable cloud-native architecture.
        </h6>

        <!-- <p>
            Rather than functioning solely as a log management platform, Jarvis evolves into an AI-Powered Operational Intelligence System capable of:
        </p>
        <ul>
            <li>Understanding system behavior in real time</li>
            <li>Detecting anomalies automatically</li>
            <li>Conversing with users using natural language</li>
            <li>Predicting failures before they occur</li>
            <li>Identifying cybersecurity threats</li>
            <li>Recommending remediation actions</li>
            <li>Executing automated response workflows</li>
            <li>Performing large-scale distributed AI analysis</li>
        </ul> -->
    </div>
</section>