<section id="rag-architecture-banner">
    <div class="rag-architecture-banner-overlay container">
        <div class="row">
            <div class="col-6 col-md-12 col-sm-12 rag-architecture-banner-image-container">
                <img class="rag-architecture-banner-image" 
                    src="images/banners/rag.png" 
                    alt="data analytics" />
            </div>
            <div class="col-6 col-md-12 col-sm-12">
                <h5 class="rag-architecture-banner-title">Talk to Your Data with AI</h5>
                <span class="rag-architecture-banner-content">
                Engage in natural conversations with advanced AI to explore and understand your system data. Ask questions, investigate anomalies, or request summaries—all in plain language. <br /><br />
                The system translates complex datasets into clear, actionable explanations. It’s like having a data expert available 24/7. Unlock deeper insights without needing specialized technical expertise.
                </span>
            </div>
        </div>
    </div>
</section>