@use '../../../styles/theme/breakpoint' as breakpoint;
@use '../../../styles/theme/constants' as constants;
@use 'theme';
#open-source-banner {
    position: relative;
    line-height: 0;


    .open-source-banner-overlay {
        position: absolute;
        top: 15%;
        left: 4%;
        max-width: 55%
    }
    .open-source-banner-title {
        font-weight: bold;
        text-transform: uppercase;
    }

    .open-source-banner-content {
        max-width: 810px;
    }

    .open-source-banner-button-group {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
    }

    .open-source-banner-button {
        margin: 5px 10px 5px 0;
    }

    .open-source-banner-image {
        width: 100%;
    }

    @include breakpoint.smallDesktop {
        overflow: hidden;
        .open-source-banner-image {
            width: 135%;
        }
    }

    @include breakpoint.mobile {
        background: url('/images/banners/open source system empty portrait.png');
        padding: 30px 30px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .open-source-banner-overlay {
            left: unset;
            top: unset;
            width: 100%;
            max-width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }   
        .open-source-banner-title {
            text-align: center;            
            margin-bottom: 15px;

        }

        .open-source-banner-content {
            text-align: center;
            margin-bottom: 20px;
        }

        .open-source-banner-image {
            display: none;
        }

        .open-source-banner-button {
            width: 100%;
        }
    }
}