@use '@angular/material' as mat;

$heading-font-family: "'Bree Serif', sens-serif";
$regular-font-family: "Lato, sens-serif";
$regular-font: "Lato";
$heading-font: "'Bree Serif'";


$bold-weight: 700;
$regular-weight: 400;
$medium-weight: 500;
