/* Header */
#navigation-header {
    z-index: 2;
}

/* Main Section */
#main-content-wrapper {
    z-index: 1;
}

/* Footer */
#footer-section {
    z-index: 1;
}

/* Route Components */
#home-component {
    z-index: 2;

    #open-source-banner {
        z-index: 3;

        .open-source-banner-image {
            z-index: 3;
        }
    }

    #hero-component {
        z-index: 3;
    }


    #familiar-technologies {
        z-index: 3;

        #familiar-frameworks {
            z-index: 3;
        }

        #familiar-languages {
            z-index: 4;
        }

        #familiar-deployments {
            z-index: 5;
        }
    }

    #home-banners {
        z-index: 3;
        #frontend-experience-banner {
            z-index: 3;
            .angular-logo-section {
                z-index: 3;
            }
            .angular-logo-overlay-rectangle {
                z-index: 4; 
            }
            .frontend-experience-banner-content {
                z-index: 6;
            }
        }

        #wordpress-banner {
            z-index: 3;
            .camera-coordinates {
                z-index: 3;
            }
        }
    }
}

#page-not-found {
    z-index: 2;
    .stars {
        z-index: 2;
    }

    .twinkling {
        z-index: 3;
    }

    .content {
        z-index: 4
    }
}

.intro-banner-wrapper {
    z-index: 4;
}

