<div class="social-icons">
    <a mat-icon-button href="mailto:zuhairmhtb@gmail.com" aria-label="Medium">
        <i class="fa-brands fa-google"></i>
    </a>
    <a mat-icon-button href="https://www.linkedin.com/in/zuhair-mehtab-2550bb8b/" target="_blank" aria-label="LinkedIn">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a mat-icon-button href="https://github.com/zuhairmhtb" aria-label="Github">
        <i class="fa-brands fa-github"></i>
    </a>
    <a mat-icon-button href="https://medium.com/@zuhairmhtb" aria-label="Medium">
        <i class="fa-brands fa-medium"></i>
    </a>
</div>