@import 'styles/theme/zindex';
@import 'app/directives/parallax.component.scss';


/* Global Styles and apply theme */
html, body { height: 100%; }
body { 
    margin: 0; 
    // font-family: typography.$regular-font-family;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-footer {
    margin-top: auto;
}
