<section id="home-banners" #homeBannerContainer>
    <section id="frontend-experience-banner">
        <div class="angular-logo-section">
            <img class="angular-logo" src="images/logo/angular.svg" alt="Angular Logo" #feImage />
        </div>
        <div class="angular-logo-overlay-rectangle section"></div>
        <div class="frontend-experience-banner-content" #frontendExperienceTextContainer>
            <h2 class="title" #feTitle>The Frontend Experience</h2>
            <h6 class="subtitle" #feSubtitle>Building Dynamic, Scalable Applications with Angular, HTML, CSS, and JavaScript</h6>
            <button mat-stroked-button id="github-angular-link-button" class="github-button" (click)="viewPage(angularRepoUrl)">View on GitHub</button>
        </div>
    </section>
    <app-wordpress-banner class="home-wordpress-banner"></app-wordpress-banner>
</section>
