@use '../../../styles/theme/breakpoint' as breakpoint;
@import 'theme';

@keyframes animateFrontendExperienceText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes animateFrontendExpreienceImage {
    from {
        left: -20%;
    }

    to {
        left: 0;
    }
}

#home-banners {
    #frontend-experience-banner {
        position: relative; 
        padding: 40px 0; 
        overflow: hidden;

        .angular-logo {
            width: 70%; 
            opacity: 0.3;
            position: relative;
            left: -200px;
        }

        .angular-logo-overlay-rectangle {
            position: absolute; 
            width: 55%; 
            height: 100%; 
            background: #cb2323; // not theme specific
            right: -110px; 
            top: 0;
            transform: skewX(-30deg);
            box-shadow: #000 0 10px 25px; // not theme specific
        }

        .frontend-experience-banner-content {
            position: absolute; 
            right: 20px; 
            top: 50%; 
            transform: translateY(-50%); 
            color: #fff; // not theme specific
            width: 40%; 
            overflow: hidden; 
            display: flex; 
            flex-direction: column;
            text-align: right;
            align-items: flex-end;

            .title, .subtitle {
                width: 100%;
                margin-left: auto;
                opacity: 0;
                
            }

            .title {
                font-weight: bold;
                margin-left: auto;

                &.crossed {
                    animation: animateFrontendExperienceText 300ms ease-in-out;
                    opacity: 1;
                }
            }

            .subtitle.crossed {
                animation: animateFrontendExperienceText 500ms ease-in-out;
                opacity: 1;
            }

            .github-button {
                // background-color: #a50303;
                // color: #fff;
                margin-top: 10px;
            }
                        
        }

        @include breakpoint.tablet {
            padding: 60px 0;
            
        }

        @include breakpoint.mobile {
            padding: 30px 0 0 0;
            .angular-logo {
                width: 100%;
            }

            .angular-logo-overlay-square, .angular-logo-overlay-rectangle {
                display: none;
            }

            .frontend-experience-banner-content {
                position: relative;
                width: 100%;
                left: 50%;
                top: unset;
                transform: translateX(-50%);
                background-color: #cb2323;
                padding: 10px 10px;
                align-items: center;

                .title, .subtitle {
                    text-align: center;
                    margin-bottom: 0;
                }

                .subtitle {
                    max-width: 80%;
                    margin: 0 auto;
                }

            }
        }
    }

    .home-wordpress-banner {
        background-color: #fff;  // not theme specific
        display: flex;
        flex-wrap: wrap;
    }
    
}