@use 'theme';
@use '../../../styles/theme/breakpoint' as breakpoint;
#post-container {
    .post-header {
        padding: 30px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .author-image {
        max-width: 24px;
        border-radius: 50% 50%;
        margin-right: 5px;
        display: inline-block;
    }

    .post-footer {
        margin: auto auto;
    }

    @media all and (min-width: 1400px) {
        .post-footer {
            max-width: 1140px;
        }
    }

    @include breakpoint.mobile {
        .post-header {
            padding: 20px 10px;
            justify-content: center;
            text-align: center;
        }
        .post-header-item {
            width: 100%;
        }

    }
}