<footer id="footer-section">
  <div class="footer-content">
    <span class="heading">My creative journey</span>
     <p>
      I am a full-stack developer and machine learning enthusiast with extensive experience across web development, cloud infrastructure, embedded systems, and research. My expertise enables me to contribute to both product development and academic projects.<br>

With 5+ years of experience in .Net (MCV and Core), Angular, Django, and NestJS, I specialize in building scalable backend solutions. My work also includes 3+ years of A/B testing using Convert and VWO to enhance user experiences through data-driven optimization.<br>
      </p>
      <app-social-links></app-social-links>
  </div>
  <div color="primary" class="copyright-toolbar">
    <span>&copy; 2024 Zohair Mehtab. All rights reserved.</span>
    <!--<span class="toolbar-spacer"></span>
    <a class="footer-link" mat-button href="#">Privacy Policy</a>
    <a class="footer-link" mat-button href="#">Terms of Service</a>-->
  </div>
</footer>