@use '../../../styles/theme/breakpoint' as breakpoint;
@import 'theme';

#footer-section {

    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .heading {
        font-size: 1.2rem;
        margin-bottom: 10px;
        font-weight: bold;
    }
    
    .copyright-toolbar {
        font-size: 0.9em;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 0;
    }
    
    .toolbar-spacer {
        flex: 1 1 auto;
    }
    
    @include breakpoint.mobile {
        .footer-content {
            flex-direction: column;
            text-align: center;
        }
        
        .footer-section {
            margin-bottom: 32px;
        }
        
        .copyright-toolbar {
            flex-direction: column;
        }
        
        .toolbar-spacer {
            display: none;
        }
    }
}
