<footer id="footer-section">
  <mat-toolbar class="footer-toolbar">
    <div class="footer-content">
    
       <div class="footer-section">
        <h4 class="mat-h3">About</h4>
        <mat-list>
          <a class="footer-link" mat-list-item href="#">Home</a>
          <a class="footer-link" mat-list-item href="#">About</a>
          <a class="footer-link" mat-list-item href="#">Contact</a>
        </mat-list>
      </div>
      <div class="footer-section">
        <h4 class="mat-h3">Resources</h4>
        <mat-list>
          <a class="footer-link" mat-list-item href="#">Documentation</a>
          <a class="footer-link" mat-list-item href="#">Data Structure</a>
          <a class="footer-link" mat-list-item href="#">Support</a>
        </mat-list>
      </div>
      <div class="footer-section">
        <h4 class="mat-h3">Connect</h4>
        <app-social-links></app-social-links>
      </div>
    </div>
  </mat-toolbar>
  <mat-toolbar color="primary" class="copyright-toolbar">
    <span>&copy; 2024 Zohair Mehtab. All rights reserved.</span>
    <!--<span class="toolbar-spacer"></span>
    <a class="footer-link" mat-button href="#">Privacy Policy</a>
    <a class="footer-link" mat-button href="#">Terms of Service</a>-->
  </mat-toolbar>
</footer>